body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 40px auto; /* Increased margin */
  padding: 20px; /* Added padding */
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex; 
  justify-content: center; 
  flex-direction: column; /* Added to organize the items vertically */
}

.form-container {
  width: 100%;
  padding: 20px; /* Increased padding */
  border: 1px solid #ccc;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #f2f2f2;
}

.form-container label, .form-container input, .message-box-container label, .message-box-container input {
  width: 100%;
  margin-bottom: 20px; /* Increased bottom margin */
}

input[type=submit], button {
  margin-top: 30px; /* Increased top margin */
  margin-bottom: 30px; /* Added bottom margin */
  height: 40px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover, button:hover {
  background-color: #007B9A;
}

@media (max-width: 768px) {
  .container, .form-container {
    width: 80%;
  }
}
